@font-face {
    font-family: "playfair";
    font-weight: 600;
    font-display: swap;
    src: url('/assets/typho/playfair/600.ttf') format('truetype');
}

@font-face {
    font-family: "playfair";
    font-weight: 600;
    font-display: swap;
    src: url('/assets/typho/open-sans/italic/600.ttf') format('truetype');
}