@font-face {
    font-family: "Raleway";
    font-weight: 400;
    font-display: swap;
    src: url('/assets/typho/Raleway/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "Raleway";
    font-weight: 400;
    font-display: swap;
    src: url('/assets/typho/Raleway/italic/400.ttf') format('truetype');
}