@font-face {
    font-family: "Raleway";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/Raleway/normal/500.ttf') format('truetype');
}

@font-face {
    font-family: "Raleway";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/Raleway/italic/500.ttf') format('truetype');
}