@font-face {
    font-family: "Raleway";
    font-weight: 600;
    font-display: swap;
    src: url('/assets/typho/Raleway/normal/600.ttf') format('truetype');
}

@font-face {
    font-family: "Raleway";
    font-weight: 600;
    font-display: swap;
    src: url('/assets/typho/Raleway/italic/600.ttf') format('truetype');
}